<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="name"  default=""/>
    <arg name="x_pos" default=" 0.0"/>
    <arg name="y_pos" default=" 0.0"/>
    <arg name="z_pos" default=" 0.0"/>
    <arg name="yaw"   default=" 0.0"/>
    <arg name="sim"   default="true"/>

    

    <include file="$(find rbe3002_lab4)/launch/lab4_robot_part1.launch">
      <arg name="ns" value="$(arg name)"/>
    </include>

    <node pkg="amcl" type="amcl" name="map_to_world">
      <param name="min_particles"             value="1000"/>
      <param name="max_particles"             value="3000"/>
      <param name="kld_err"                   value="0.02"/>
      <param name="update_min_d"              value="0.05"/>
      <param name="update_min_a"              value="0.10"/>
      <param name="resample_interval"         value="1"/>
      <param name="transform_tolerance"       value="0.5"/>
      <param name="recovery_alpha_slow"       value="0.00"/>
      <param name="recovery_alpha_fast"       value="0.00"/>
      <param name="gui_publish_rate"          value="50.0"/>
      <param name="laser_max_range"           value="3.5"/>
      <param name="laser_max_beams"           value="180"/>
      <param name="laser_z_hit"               value="0.5"/>
      <param name="laser_z_short"             value="0.05"/>
      <param name="laser_z_max"               value="0.05"/>
      <param name="laser_z_rand"              value="0.5"/>
      <param name="laser_sigma_hit"           value="0.2"/>
      <param name="laser_lambda_short"        value="0.1"/>
      <param name="laser_likelihood_max_dist" value="2.0"/>
      <param name="laser_model_type"          value="likelihood_field"/>

      <param name="use_map_topic"             value="true"/>
      <!-- <remap /> -->
      <param name="global_frame_id"           value="/world" />

      <param name="odom_model_type"           value="diff"/>
      <param name="odom_alpha1"               value="0.1"/>
      <param name="odom_alpha2"               value="0.1"/>
      <param name="odom_alpha3"               value="0.1"/>
      <param name="odom_alpha4"               value="0.1"/>
      <param name="odom_frame_id"             value="/$(arg name)/odom"/>
      <param name="base_frame_id"             value="/$(arg name)/base_footprint"/>
      <param name="tf_broadcast"              value="false"/>
    </node>

    <node pkg="cslam_mqp" type="amcl_transform_creater.py" name="amcl_transformer">
      <param name="namespace" value="$(arg name)"/>
    </node>

    <group if="$(arg sim)">
      <param name="robot_description" command="$(find xacro)/xacro --inorder $(find cslam_mqp)/new.urdf.xacro" />
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" value="$(arg name)" />
      </node>
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -model $(arg name) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg yaw) 
        -param robot_description -model $(arg name) -robot_namespace $(arg name) " />
    </group>

    <group if="$(eval arg('sim') == false)">
      <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
          <arg name="model" value="$(arg model)" />
          <arg name="multi_robot_name" value="$(arg name)"/>
          <param name="tf_prefix" value="$(arg name)" />
      </include>
      <node name="launch_remote" pkg="rbe3002_lab4" type="launch_remote_turtlebot.sh" args="-n $(arg name)"/>
    </group>
</launch>